<div class="main-container">
  <div class="header">
    <div class="title">Webkiosk Login</div>
  </div>
  <div class="header-extender"></div>
  <div class="form-container">
    <div class="warning" *ngIf="loginStatus=='failed'">Webkiosk Login Failed</div>
    <form class="form" [formGroup]="loginForm">

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Enrollment</mat-label>
        <input matInput placeholder="Ex. 17102004" formControlName="enroll" tabindex="2">
        <mat-error *ngIf="fEnroll.errors?.required">
          Enrollment is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Webkiosk Password" [type]="hide ? 'password' : 'text'" formControlName="pass" tabindex="3">
        <mat-error *ngIf="fPass.errors?.required">
          Password is <strong>required</strong>
        </mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide" tabindex="-1" focusable="false" type="button">
          <mat-icon tabindex="-1">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>D.O.B.</mat-label>
        <input matInput placeholder="Ex. 16/5/1998" formControlName="dob" tabindex="4">
        <mat-error *ngIf="fDob.errors?.required">
          D.O.B. is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button class="login-btn" mat-flat-button color="accent" type="button" (click)="login()" [disabled]="disabled">
        Login
      </button>

    </form>

  </div>
  <div class="footer"></div>
</div>