<ion-content>
<h1>UTILITIES</h1>
<div class="utilities-container">

  <button mat-stroked-button color="primary" (click)="openPage('schedule-editor')">
    <ion-icon name="construct-outline"></ion-icon>
    <span>Schedule</span>
    Editor
  </button>

  <button mat-stroked-button color="primary" (click)="openPage('heatmap')">
    <ion-icon name="color-filter-outline"></ion-icon>
    HeatMap
  </button>

  <button mat-stroked-button color="primary" (click)="openPage('vacant-venue')">
    <ion-icon name="trail-sign-outline"></ion-icon>
    <span>Vacant</span>
    Venue
  </button>

  <button mat-stroked-button color="primary" (click)="openPage('fee-details')">
    <ion-icon name="card-outline"></ion-icon>
    <span>Fee</span>
    Details
  </button>

  <button mat-stroked-button color="primary" (click)="openPage('gp-play')">
    <ion-icon name="calculator-outline"></ion-icon>
    <span>GradePoint</span>
    Play
  </button>

  <button mat-stroked-button color="primary" (click)="openPage('settings')">
    <ion-icon name="settings-outline"></ion-icon>
    Settings
  </button>

</div>
</ion-content>
