<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="settings-container">
    <button mat-stroked-button color="warn" (click)="changeAlias()">Change Alias</button>
    <button mat-stroked-button color="warn" (click)="changeWKPass()">Change Password</button>
    <button mat-stroked-button color="warn" (click)="updateSem()">Update Subjects</button>
    <button mat-stroked-button color="warn" (click)="pickSemAndBatch()">Change Sem & Batch</button>
    <button mat-stroked-button color="warn" (click)="copyFCMKey()">Copy FCM Token</button>
    <button mat-stroked-button color="warn" (click)="fsTimetable()">Cloud Timetable</button>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-title>Designed by Tanishq Manuja</ion-title>
  </ion-toolbar>
</ion-footer>